body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.058);
}

#addForm{
    width: 80%;
    max-width: 800px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    background-color: rgba(115, 172, 17, 0.103);
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.1);
}
input{
    width: 400px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
}
#categories{
    width: 420px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
}
button{
    width: 400px;
    padding: 20px 0;
    border-radius: 20px;
    background-color: hsla(60, 26%, 4%, 0.053);
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: hsla(60, 24%, 4%, 0.181);

}

button:active{
    background-color: hsla(60, 24%, 4%, 0.581);

}

.redMessage{
    color: red;
    font-weight: bold;
    margin-top: 10px;
    transition: opacity 0.5s ease-in-out;

}

.greenMessage{
    color: green;
    font-weight: bold;
    margin-top: 10px;
    transition: opacity 0.5s ease-in-out;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

.visible{
    opacity: 1;
    visibility: visible;
}

