body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.058);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#container{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.1);
    background-color: rgba(234, 255, 0, 0.058);
}



#nav{
    margin: 10px 10px;
    display: flex;
    font-size: 30px;
}
h1{
    margin: 10px;
}

#icon{
    width: 100px;
    height: 100px;
}

#mainPage{
    margin: 20px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.box{
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 18px;
    min-width: 150px;
    text-align: center;
}
#income{
    cursor: pointer;
}
#income:hover{
    background-color: rgb(242, 247, 101);
}

#balance{
    background-color: green;
}




#expense{
    background-color: red;
}

#expenseList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.expenseHeader, .expenseItem{
    display: flex;
    justify-content: space-between;
    background-color: hwb(0 97% 3% / 0.664);
    padding: 20px 20px;
    margin-bottom: 8px;
    border-left: 5px solid #949b37;
    border-radius: 5px;
    font-weight: bold;
}

.expenseItem{
    background-color: hwb(69 64% 13% / 0.808);
    border: 1px solid #ddd;
    
}

.expenseItem span{
    width: 33%;
    text-align: center;
}

#addExpenseBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
#addExpenseBtn:active{
    background-color: hsla(61, 55%, 83%, 0.708);

}



.RecordBtn{
    width: 50px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.RecordBtn:active{
    background-color: #d0e573;
}


#expenseInterval{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#visualizeBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
#visualizeBtn:active{
    background-color: hsla(61, 55%, 83%, 0.708);

}